# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.a
pkg/windows_amd64/responses.a
src/__debug_bin
pkg/windows_amd64/responses.a
